---
layout: default
title: Home
---

<div class="box box-dark box-header">
    <div class="page-width cf">
        <h1 class="logo"><a href="/">Matt<em>.</em>Tarbit<em>.org</em></a></h1>
        <ul class="menu">
            <li><a href="/work">Work</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="http://www.github.com/mtarbit">GitHub</a></li>
            <li><a href="http://www.twitter.com/mtarbit">Twitter</a></li>
        </ul>
    </div>
</div>

<div class="page-width">

    <div class="box box-dark box-splash">
        <h2>
            Hello. I'm Matt.
        </h2>
        <p>
            I have been developing things on the web for over a decade.<br>
            Most recently as a Senior Developer for <a href="http://www.isotoma.com">Isotoma</a> in York.
        </p>
    </div>

    <div class="box unpad cf">
        <div class="split-3 split-work">
            <h3>Work</h3>
            <p>
                You can usually find me building user interfaces
                in HTML, CSS &amp; JS; writing applications in Ruby,
                Python or PHP; storing data in PostgreSQL or MySQL;
                and tracking changes in Git or Subversion.
            </p>
            <p>
                See some projects I've <a href="#">worked on</a>.
            </p>
        </div>

        <div class="split-3 split-play">
            <h3>Play</h3>
            <p>
                I like games, I like music, I like films, I like books, I like pictures,
                and for the most part I like computers.
            </p>
            <p>
                Other things too of course but those are
                some recurring trends.
            </p>
            <p>
                Read about some of <a href="#">my interests</a>.
            </p>
        </div>

        <div class="split-3 split-link split-last">
            <h3>Socialising</h3>
            <p>
                If you're in Yorkshire you might bump into me at one
                or other of the many tech-related events in the area,
                but to get in touch right away you can email me at
                <a href="mailto:matt@tarbit.org">matt@tarbit.org</a>.
            </p>
            <p>
                Follow me on
                <a href="http://www.github.com/mtarbit">GitHub</a> or
                <a href="http://www.twitter.com/mtarbit">Twitter</a>.
            </p>
        </div>
    </div>

    <div class="box">
        {% include pagination.html %}
        <ul>
            {% for post in paginator.posts %}
                <li>
                    <a href="{{ post.link }}">{{ post.title }}</a>
                    {{ post.excerpt }}
                </li>
            {% endfor %}
        </ul>
        {% include pagination.html %}
    </div>

</div>
