
/* Work and CV */

.page-splash-cv {
    .page-width {
        padding: 96px 0;
    }
}

.cv-actions {
    p {
        margin-bottom: 12px;
    }

    .btn {
        text-align: center;
        width: 178px;

        i {
            position: relative;
            top: 2px;
            left: -2px;
            font-size: 16px;
        }
    }
}

.history {
    dd {
        margin-bottom: 24px;

        .description {
            margin-top: 6px;
        }
    }
}

.project-row {
    margin-right: -16px;
    margin-bottom: 24px;
}

.project {
    float: left;
    width: 400px;
    margin-right: 16px;

    .screen {
        position: absolute;
        width: 400px;
        height: 250px;
        background: saturate(darken($blue-color, 15%), 25%);
        @include transition(0.5s);

        img {
            width: 400px;
            height: 250px;
            opacity: 0.1;
            -ms-filter: 'alpha(opacity=10)';
            -webkit-filter: grayscale(1);
            @include transition(0.5s);
        }
    }

    &:hover {
        .screen {
            background: $darker-grey;

            img {
                opacity: 0.3;
                -ms-filter: 'alpha(opacity=30)';
                -webkit-filter: grayscale(0);
            }
        }
    }

    .title {
        position: relative;
        width: 400px;
        height: 250px;
        padding-top: 100px;
        margin-bottom: 18px;
        @include box-sizing(border-box);

        h4 {
            text-align: center;
            font-size: $font-xx-large;
            font-weight: 400;
            line-height: 1em;
            color: #fff;

            em {
                display: block;
                font-size: $font-large;
                font-weight: 300;
                color: inherit;
            }
        }

    }

    .detail {
        font-size: $font-small;

        li {
            margin-bottom: 6px;

            span {
                color: #222;
            }
        }
    }
}

