
/* Layout */

html, body {
    height: 100%;
}

.page-width {
    margin: 0 auto;
    width: $page-width;
}

.page-header, .page-footer, .page-splash {
    color: #fff;
    background: $darker-grey;

    .page-width {
        padding: 12px 24px;
    }

    a {
        color: #fff;
    }
}

.page-splash {
    margin-bottom: 48px;
    font-size: $font-large;
    text-align: center;
    background: $head-color;

    .page-width {
        padding: 48px 24px;
    }

    h2 {
        color: #fff;
        font-size: $font-xxx-large;
        font-weight: 100;
        line-height: 1;
        margin-bottom: 12px;
    }

    p {
        margin-bottom: 0;
    }
}

.page-splash-canvas {
    display: none;
}

.page-footer {
    margin-top: 72px;
    font-size: $font-x-small;
    color: $mid-grey;

    a {
        font-weight: inherit;
    }

    a.icon {
        text-decoration: none;

        i {
            position: relative;
            top: 3px;
            margin: 0 1px;
            font-size: 16px;
        }

        &:hover {
            i {
                color: #fff;
            }
        }
    }
}

section {
    margin: 36px 0;
}

section + section {
    border-top: 1px solid $palest-grey;
    padding-top: 24px;
}

.logo {
    float: left;
    font-size: $font-medium;
    margin: 0;

    em {
        font-style: normal;
        font-weight: inherit;
        opacity: 0.3;
    }
}

.menu {
    margin: 0;
    float: right;

    li {
        margin-left: 6px;
        display: inline;
    }
}

.avatar {
    margin: 0 auto 24px auto;
    width: 80px;
    height: 80px;
    background: $darker-grey url(http://www.gravatar.com/avatar/09817af0e39bf34eb915a9319d827260.png) no-repeat;
    border: 2px solid #fff;
    border-radius: 50px;
}

.activity {
    font-size: $font-small;
    float: left;
    width: 239px;
    padding: 0 24px;
    border-right: 1px solid $palest-grey;

    i[class*="icon-"] {
        position: relative;
        top: 4px;
        float: right;
        font-size: 24px;
    }

    i.icon-code {
        top: 1px;
        font-size: 32px;
    }

    p:last-child {
        margin-bottom: 0;
    }
}

.unpad {
    padding: 0;
}

.first,
.activity:first-child {
    margin-left: 0;
    border-left: 0;
    padding-left: 0;
}

.last {
    margin-right: 0;
    border-right: 0;
    padding-right: 0;
}

