
/* Text */

* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: $font-robo;
    font-weight: 300;
    line-height: 1.5;
}

html {
    background: $page-color;
    color: $text-color;
}

h1, h2, h3, h4, h5, h6,
ul, ol, dl, blockquote, fieldset,
hr, table, p, pre {
    margin-bottom: 24px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-open;
    font-weight: 400;
    color: $spot-color;
}

h1, h2 {
    font-weight: 700;
}

h2 em, h3 em, h4 em, h5 em, h6 em {
    margin: 0 0.2em;
    font-style: inherit;
    font-family: inherit;
    font-weight: 300;
}

.xxx-large {
    font-size: $font-xxx-large;
}

h2, .xx-large {
    font-size: $font-xx-large;
}

h3, .x-large {
    font-size: $font-x-large;
}

h4, .large {
    font-size: $font-large;
}

h5, .medium {
    font-size: $font-medium;
}

small, .small {
    font-size: $font-small;
}

.x-small {
    font-size: $font-x-small;
}

.xx-small {
    font-size: $font-xx-small;
}

a {
    color: $link-color;
    font-weight: bold;
}

.btn {
    font-size: 0.8em;
    font-weight: 400;
    font-family: $font-open;
    text-decoration: none;
    color: #fff;
    background: $green-color;
    display: inline-block;
    padding: 0.5em 1.5em;
    border-radius: 2px;
}

.dim {
    color: $pale-grey;
}

address {
    font-style: normal;
}

