
/* Variables */

$blue-color:  lighten(#3366aa, 10%);
$green-color: desaturate(adjust-hue($blue-color, 270), 20%);
$other-color: complement($blue-color);

$darkest-grey: #222222;
$darker-grey:  #333333;
$dark-grey:    #666666;
$mid-grey:     #888888;
$light-grey:   #bbbbbb;
$pale-grey:    #cccccc;

$text-color: #222222;
$page-color: lighten(desaturate(adjust-hue($blue-color, 210), 30%), 42%);
$head-color: $blue-color;
$spot-color: $dark-grey;
$line-color: $mid-grey;
$link-color: $blue-color;

$page-width: 816px;

$font-xxx-large: 60px;
$font-xx-large:  36px;
$font-x-large:   24px;
$font-large:     20px;
$font-medium:    16px;
$font-small:     14px;
$font-x-small:   12px;
$font-xx-small:  10px;

$font-roboto: 'Roboto', Helvetica, Arial, sans-serif;
$font-bariol: 'Bariol', 'Roboto', Helvetica, Arial, sans-serif;

