@import "lib/normalize";

$blue-color: lighten(#3366aa, 10%);
$green-color: adjust-hue(darken($blue-color, 10%), 270);
$other-color: complement($blue-color);

$text-color: #222222;
$dark-color: #444444;

$page-color: #f6f2fb;
$head-color: $blue-color;
$spot-color: $dark-color;
$line-color: grayscale($blue-color);
$link-color: $blue-color;

$font-xxx-large: 40px;
$font-xx-large:  32px;
$font-x-large:   24px;
$font-large:     20px;
$font-medium:    16px;
$font-small:     14px;

* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

html {
    background: $page-color;
    color: $text-color;
}

.page-width {
    margin: 24px auto;
    max-width: 54em;
}

h1, h2, h3, h4, h5, h6,
ul, ol, dl, blockquote, fieldset,
hr, table, p, pre {
    margin-bottom: 24px;
}

h1, h2, h3, h4, h5, h6 {
    color: $spot-color;
}

h2 em, h3 em, h4 em, h5 em, h6 em {
    font-weight: normal;
}

.xxx-large {
    font-size: $font-xxx-large;
}

h2, .xx-large {
    font-size: $font-xx-large;
}

h3, .x-large {
    font-size: $font-x-large;
}

h4, .large {
    font-size: $font-large;
}

h5, .medium {
    font-size: $font-medium;
}

small, .small {
    font-size: $font-small;
}

a {
    color: $link-color;
    font-weight: bold;
}

address {
    font-style: normal;
}

.logo {
    float: left;
    font-size: 1em;
    margin: 0;
    em {
        font-style: inherit;
        opacity: 0.3;
    }
}

.menu {
    margin: 0;
    float: right;
    li {
        margin-left: 6px;
        display: inline;
    }
}

.avatar {
    position: relative;
    left: 50%;
    margin-left: -43px;
    margin-bottom: 12px;
    width: 80px;
    height: 80px;
    background: $dark-color url(http://www.gravatar.com/avatar/09817af0e39bf34eb915a9319d827260.png) no-repeat;
    border: 3px solid #fff;
    border-radius: 50px;
}

/* Boxes */

.box {
    padding: 24px 24px;
    margin-bottom: 22px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.box-dark {
    background: $dark-color;
    color: #fff;
}

.box-dark a {
    color: #fff;
}

.box-header {
    padding: 12px 24px;
    margin-bottom: 0;

    h1 {
        color: #fff;
    }

    .page-width {
        margin: 0 auto;
    }
}

.box-splash {
    padding: 48px 24px;
    text-align: center;
    background: $head-color;
    margin-bottom: 0;
}

.box-splash h2 {
    font-size: $font-xxx-large;
    color: #fff;
    margin-bottom: 12px;
}

.box-splash p {
    font-size: $font-large;
    margin-bottom: 0;
}

.box-section {
    border-top: 6px solid $line-color;
}

.box-section ul {
    margin-left: 16px;
}

.split-3 {
    float: left;
    width: 239px;
    padding: 24px;
    border-right: 1px solid rgba(0,0,0, 0.05);
}

.split-3 p {
    font-size: $font-small;
}

.split-last {
    border-right: 0;
}

.unpad {
    padding: 0;
}

.box-cv-splash {
    padding: 48px 24px;
}

.project-row {
    margin-right: -16px;
    margin-bottom: 24px;
}

.project {
    float: left;
    width: 400px;
    margin-right: 16px;

    .title {
        width: 400px;
        height: 250px;
        position: absolute;

        h4 {
            text-align: center;
            font-size: $font-xx-large;
            margin-top: 90px;
            color: #fff;

            em {
                display: block;
                font-weight: normal;
                font-size: $font-large;
                color: #fff;
            }
        }
    }

    .screen {
        width: 400px;
        height: 250px;
        background: $blue-color;
        margin-bottom: 18px;

        img {
            width: 400px;
            height: 250px;
        }
    }

    .detail {
        li {
            font-size: $font-small;
            margin-bottom: 6px;

            span {
                color: #222;
            }
        }
    }
}

/* Micro clear-fix, see: http://nicolasgallagher.com/micro-clearfix-hack/ */

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

/* Images */

img {
    max-width: 100%;
}

img[width], img[height] {
    max-width: none;
}


/* Tables */

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    text-align: left;
}


/* Indents */

ol, ul, blockquote {
    margin-left: 48px;
}

li ul, li ol {
    margin-bottom: 0;
}

dl {
    font-size: $font-small;
}

dl dt {
    font-weight: bold;
    float: left;
    clear: left;
}

dl dd {
    margin-left: 8em;
    margin-bottom: 6px;
}

