<h4>Work for Isotoma <em>2009 &mdash; 2013</em></h4>

<div class="project-row cf">
    <div class="project">
        <div class="title"><h4>GroupM</h4></div>
        <div class="screen"><img src="/assets/images/cv/screens/groupm.png" alt=""></div>
        <div class="detail">
            <ul>
                <li><span>Internal tools for credit risk management team at the world's largest advertising media company.</span></li>
                <li><span>Large Ruby on Rails app backed by SQL Server. Extensive test coverage using Cucumber &amp; RSpec.</span></li>
                <li><span>Maintenance and new features for existing reporting and data administration tools.</span></li>
                <li><span>New build of dashboard tools to filter, aggregate and analyse data on billions of dollars worth of debt.</span></li>
            </ul>
        </div>
    </div>

    <div class="project">
        <div class="title"><h4>Harper Collins <em>Best British Churches</em></h4></div>
        <div class="screen"><img src="/assets/images/cv/screens/best-british-churches.png" alt=""></div>
        <div class="detail">
            <ul>
                <li><span>Companion iPhone app for the new edition of Sir John Betjeman's classic guide.</span></li>
                <li><span>Custom UI widget for photo galleries. Custom UIWebView-based ebook reader for excerpts.</span></li>
                <li><span>Incorporated SQLite database to manage data from over two thousand churches.</span></li>
                <li><span>Sole developer.</span></li>
            </ul>
        </div>
    </div>
</div>

<div class="project-row cf">
    <div class="project">
        <div class="title"><h4>Channel 4 <em>This Just In</em></h4></div>
        <div class="screen"><img src="/assets/images/cv/screens/this-just-in.png" alt=""></div>
        <div class="detail">
            <ul>
                <li><span>Short-run comedy experiment fostering new talent. Produced in conjunction with Endemol &amp; Zeppotron.</span></li>
                <li><span>Django based web application backed by PostgreSQL with bespoke admin area.</span></li>
                <li><span>Vagrant caching layer to guard against high load, with fine-grained programmatic cache expiration.</span></li>
                <li><span>Lead developer and project manager.</span></li>
            </ul>
        </div>
    </div>

    <div class="project">
        <div class="title"><h4>The Blinc Partnership</h4></div>
        <div class="screen"><img src="/assets/images/cv/screens/blinc.png" alt=""></div>
        <div class="detail">
            <ul>
                <li><span>Tools for participating in market research online.</span></li>
                <li><span>Node.js real-time group chat application, allowing focus groups to be conducted remotely.</span></li>
                <li><span>Django application for creating branching questionnaires with assorted question types.</span></li>
                <li><span>Lead developer and project manager.</span></li>
            </ul>
        </div>
    </div>
</div>

<h4>Work for Sense Internet <em>2000 &mdash; 2009</em></h4>

<div class="project-row cf">
    <div class="project">
        <div class="title"><h4>Bafta</h4></div>
        <div class="screen"><img src="/assets/images/cv/screens/bafta.png" alt=""></div>
        <div class="detail">
            <ul class="compact">
                <li><span>Secure voting application for the British Academy of Film and Television Arts.</span></li>
                <li><span>Primary source of vote data for the BAFTA awards.</span></li>
                <li><span>Single-page JS-driven app with graceful degradation to fully functional non-JS fallback.</span></li>
                <li><span>Sole front-end developer.</span></li>
            </ul>
        </div>
    </div>

    <div class="project">
        <div class="title"><h4>Travelodge</h4></div>
        <div class="screen"><img src="/assets/images/cv/screens/travelodge.png" alt=""></div>
        <div class="detail">
            <ul class="compact">
                <li><span>Public-facing website for the UK's 2nd-largest budget hotel chain.</span></li>
                <li><span>Tackled CSS bloat on this large, highly trafficked site for a reduction in filesize of around 60%.</span></li>
                <li><span>Lead developer for extensive Google Maps API integration.</span></li>
            </ul>
        </div>
    </div>
</div>

<div class="project-row cf">
    <div class="project">
        <div class="title"><h4>Rizla</h4></div>
        <div class="screen"><img src="/assets/images/cv/screens/rizla.png" alt=""></div>
        <div class="detail">
            <ul class="compact">
                <li><span>Public-facing website for the UK's biggest rolling paper brand.</span></li>
                <li><span>Sole developer for several traffic-friendly Flash games, including Breakout &amp; Mahjong.</span></li>
                <li><span>Lead developer for portal-style personal homepage with customizable drag &amp; drop widgets.</span></li>
            </ul>
        </div>
    </div>

    <div class="project">
        <div class="title"><h4>Sense Internet <em>Internal JavaScript Toolkit</em></small></h4></div>
        <div class="screen"></div>
        <div class="detail">
            <ul class="compact">
                <li><span>Library of over 20 UI plugins including date picker, dialog box and auto-complete widgets.
                <li><span>Animation and interaction helpers (CSS property tweening, drag &amp; drop).</span></li>
                <li><span>Widgets optionally instantiated and configured with pure markup via attribute conventions.</span></li>
                <li><span>Lightweight HTML + JS debug console for situations where a browser debug console is unavailable.</span></li>
                <li><span>Build tool to package only the components you need.</span></li>
                <li><span>Lead developer.</span></li>
            </ul>
        </div>
    </div>
</div>
