<h4>Work for Isotoma <em>2009&ndash;2013</em></h4>

<div class="project-row cf">
    <div class="project">
        <div class="title"><h4>GroupM</h4></div>
        <div class="screen"><img src="/assets/images/cv/screens-tinted/groupm.png" alt=""></div>
        <div class="detail">
            <ul>
                <li>Internal tools for credit risk management team at the world’s largest advertising media company.</li>
                <li>Large Ruby on Rails app backed by SQL Server. Extensive test coverage using Cucumber and RSpec.</li>
                <li>Maintenance and new features for existing reporting and data administration tools.</li>
                <li>New build of dashboard tools to filter, aggregate and analyse data on billions of dollars worth of debt.</li>
            </ul>
        </div>
    </div>

    <div class="project">
        <div class="title"><h4>Harper Collins <em>Best British Churches</em></h4></div>
        <div class="screen"><img src="/assets/images/cv/screens-tinted/best-british-churches.png" alt=""></div>
        <div class="detail">
            <ul>
                <li>Companion iPhone app for the new edition of Sir John Betjeman’s classic guide.</li>
                <li>Custom UI widget for photo galleries. Custom UIWebView-based ebook reader for excerpts.</li>
                <li>Incorporated SQLite database to manage data from over two thousand churches.</li>
                <li>Sole developer.</li>
            </ul>
        </div>
    </div>
</div>

<div class="project-row cf">
    <div class="project">
        <div class="title"><h4>Channel 4 <em>This Just In</em></h4></div>
        <div class="screen"><img src="/assets/images/cv/screens-tinted/this-just-in.png" alt=""></div>
        <div class="detail">
            <ul>
                <li>Short-run comedy experiment fostering new talent. Produced in conjunction with Endemol and Zeppotron.</li>
                <li>Django based web application backed by PostgreSQL with bespoke admin area.</li>
                <li>Vagrant caching layer to guard against high load, with fine-grained programmatic cache expiration.</li>
                <li>Lead developer and project manager.</li>
            </ul>
        </div>
    </div>

    <div class="project">
        <div class="title"><h4>The Blinc Partnership</h4></div>
        <div class="screen"><img src="/assets/images/cv/screens-tinted/blinc.png" alt=""></div>
        <div class="detail">
            <ul>
                <li>Tools for participating in market research online.</li>
                <li>Node.js real-time group chat application, allowing focus groups to be conducted remotely.</li>
                <li>Django application for creating branching questionnaires with assorted question types.</li>
                <li>Lead developer and project manager.</li>
            </ul>
        </div>
    </div>
</div>

<h4>Work for Sense Internet <em>2000&ndash;2009</em></h4>

<div class="project-row cf">
    <div class="project">
        <div class="title"><h4>Bafta</h4></div>
        <div class="screen"><img src="/assets/images/cv/screens-tinted/bafta.png" alt=""></div>
        <div class="detail">
            <ul class="compact">
                <li>Secure voting application for the British Academy of Film and Television Arts.</li>
                <li>Primary source of vote data for the BAFTA awards.</li>
                <li>Single-page JS-driven app with graceful degradation to fully functional non-JS fallback.</li>
                <li>Sole front-end developer.</li>
            </ul>
        </div>
    </div>

    <div class="project">
        <div class="title"><h4>Travelodge</h4></div>
        <div class="screen"><img src="/assets/images/cv/screens-tinted/travelodge.png" alt=""></div>
        <div class="detail">
            <ul class="compact">
                <li>Public-facing website for the UK’s 2nd-largest budget hotel chain.</li>
                <li>Tackled CSS bloat on this large, highly trafficked site for a reduction in filesize of around 60%.</li>
                <li>Lead developer for extensive Google Maps API integration.</li>
            </ul>
        </div>
    </div>
</div>

<div class="project-row cf">
    <div class="project">
        <div class="title"><h4>Rizla</h4></div>
        <div class="screen"><img src="/assets/images/cv/screens-tinted/rizla.png" alt=""></div>
        <div class="detail">
            <ul class="compact">
                <li>Public-facing website for the UK’s biggest rolling paper brand.</li>
                <li>Sole developer for several traffic-friendly Flash games, including Breakout and Mahjong.</li>
                <li>Lead developer for portal-style personal homepage with customizable drag &amp; drop widgets.</li>
            </ul>
        </div>
    </div>

    <div class="project">
        <div class="title"><h4>Sense Internet <em>Internal JavaScript Toolkit</em></small></h4></div>
        <div class="screen"></div>
        <div class="detail">
            <ul class="compact">
                <li>Library of over 20 UI plugins including date picker, dialog box and auto-complete widgets.
                <li>Animation and interaction helpers (CSS property tweening, drag &amp; drop).</li>
                <li>Widgets optionally instantiated and configured with pure markup via attribute conventions.</li>
                <li>Lightweight HTML and JS debug console for situations where a browser debug console is unavailable.</li>
                <li>Build tool to package only the components you need.</li>
                <li>Lead developer.</li>
            </ul>
        </div>
    </div>
</div>
