---
layout: default
title: Blog
---

<div class="page-width">
    <div class="box box-section">
        <h3>Blog</h3>

        {% include pagination.html %}

        <ul>
            {% for post in paginator.posts %}
                <li>
                    {% if post.link %}
                        <a href="{{ post.link }}">{{ post.title }}</a>
                    {% else %}
                        <a href="{{ post.url }}">{{ post.title }}</a>
                    {% endif %}
                    {{ post.excerpt }}
                </li>
            {% endfor %}
        </ul>

        {% include pagination.html %}
    </div>
</div>

