---
layout: default
title: Blog
---

<div class="page-width">
    <section class="box">
        <h2>Blog</h2>

        {% include pagination.html %}

        <ul>
            {% for post in paginator.posts %}
                <li>
                    {% if post.link %}
                        <a href="{{ post.link }}">{{ post.title }}</a>
                    {% else %}
                        <a href="{{ post.url }}">{{ post.title }}</a>
                    {% endif %}
                    {{ post.excerpt }}
                </li>
            {% endfor %}
        </ul>

        {% include pagination.html %}
    </section>
</div>

